body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, #7B95F5, #7F63A0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.header{
    height:20%;
    background: black;
}


#info {
    margin: 1rem 1rem 2.5rem 1rem;
    color: white;
    font-size: 1.5rem;
    border-bottom: dashed yellow 2px;
    width: 6rem;
}

button{
    color:white;
    font-size:1rem;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.15);
    border-radius: 0 0 20px 20px;
    transition: 0.5s;
    border: none;
    outline: none;
}

button.active{
    width: 70px;
    height:70px;
    background: rgba(0, 0, 0, 0);
    border:greenyellow solid 2px;
    border-radius: 50%;
}

button.error{
    width: 70px;
    height:70px;
    background: rgba(0, 0, 0, 0);
    border:red solid 2px;
    border-radius: 50%;
}

button:hover {
    background: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

input {
    font-size: 20px;
    margin: 1rem 1rem 2rem 1rem;
    color: white;
    border: none;
    border-bottom: 1px solid yellow;
    background: rgba(0, 0, 0, 0);
    width: 75%;
    height:30px;
    transition: 0.3s;
}

#info {
    margin: 1rem 1rem 2.5rem 1rem;
    color: white;
    font-size: 1.5rem;
    border-bottom: dashed yellow 2px;
    width: 8rem;
    transition: 1s;
}

input::-webkit-input-placeholder {
    font-weight: 500;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
}

input:focus {
    outline-style: none;
    border: none;
    border-bottom: 2px solid yellow;
    background: rgba(0, 0, 0, 0);
    width: 85%;
    transition: 0.3s;
}

.top{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 5% 5% 0 5%;
}

.mainbox.logined{
    height: 20%;
    width: 80%;
    text-align: center;
    color: white;
    font-size: 50px;
    line-height: 20vh;
    font-weight: bold;
}

.top.logined{
    height: 100%;
    width: 100%;
    margin: 0;
}

@media screen and (max-width: 480px) {

    .mainbox {
        width:80%;
        height:50%;
        box-shadow: 0 0 5rem rgba(0, 0, 0, 0.5);
        position: relative;
        border-radius: 20px;
        background-image: linear-gradient(to bottom right, #855BA9, #6675D3);
        transition: 1s;
        padding: 0;
        margin: 0;
        display:flex;
        flex-direction:column;
    }
    .box{
        /*     border:blue 4px solid; */
    }

    .top{
        width:100%;
        height:85%;
    }

    .buttom {
        text-align: center;
        width: 100%;
        height: 20%;
    }

}
@media screen and (min-width: 480px) {
    .mainbox {
        width:480px;
        height:280px;
        box-shadow: 0 0 5rem rgba(0, 0, 0, 0.5);
        position: relative;
        border-radius: 20px;
        background-image: linear-gradient(to bottom right, #855BA9, #6675D3);
        transition: 1s;
        padding: 0;
        margin: 0;
        display:flex;
        flex-direction:row;
    }
    .box{
        /*     border:blue 4px solid; */
    }

    .top{
        width:100%;
        height:100%;
    }

    .buttom {
        text-align: center;
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button{
        width: 100%;
        height: 100%;
        background:rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        transition: 0.5s;
    }
}
