html,body{
height: 100%;
width: 100%;
overflow-x:hidden;
padding: 0;
margin: 0;
}
.subject{
width: 100%;
font-size: 18px;
font-weight: bold;
word-wrap:break-word;
word-break:break-all;
padding: 0 1% ;
background: lightseagreen;
color: white;
}
.floor{
width: 100%;
word-wrap:break-word;
word-break:break-all;
border-bottom:gray 1px solid ;
}
.message{
margin: 0;
padding: 0 2%;
}
pre{
font-size: 16px;
padding: 0;
margin: 0;
white-space: pre-wrap;           /* css-3 */
white-space: -moz-pre-wrap;      /* Mozilla, since 1999 */
white-space: -pre-wrap;          /* Opera 4-6 */
white-space: -o-pre-wrap;        /* Opera 7 */
word-wrap: break-word;           /* Internet Explorer 5.5+ */

}
.rate{
width: 100%;
font-weight: bold;
font-size: 14px;
background: palevioletred;
text-align: center;
color: white;
}
.comments{
margin: 0 0 0 10%;
background: #dcdcdc;
word-wrap:break-word;
word-break:break-all;
}
.comment{
border-top: #ffffff solid 1px;
font-size: 14px;
}
.img img{
padding: 0 3%;
width: 80%;
}
.indicator{
height: 60px;
width:100%;
line-height: 60px;
text-align: center;
bottom:50px;
}
.nowpage{
color: black;
}
li{
color: blue;
display:inline;
margin: 1%;
font-size: 14px;
list-style-type: none;
font-weight: bold;
}
button{
padding:0;
position: fixed;
width:50px;
height:50px;
right:60px;
text-align: center;
font-size: 35px;
border-radius: 5px;
background: rgba(0, 0, 0, 0.5);
outline: none;
border: none;
box-shadow: 0 0 20px rgb(100, 100, 100);
}
